@model Naif.Blog.UI.ViewModels.BlogViewModel

@{
    if(!string.IsNullOrEmpty(Model.Post.Template))
    {
        Layout = $"~/Views/Themes/{Model.Blog.Theme}/Templates/{Model.Post.Template}.cshtml";
    }
}

@model Naif.Blog.UI.ViewModels.BlogViewModel

<section>
    @await Component.InvokeAsync("Post", new { post = Model.Post })
</section>