@using Naif.Blog.Razor.Lists

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Naif.Blog.UI.ViewModels.BlogViewModel

@{
    if (!string.IsNullOrEmpty(Model.Post.Template))
    {
        Layout = $"~/Views/Themes/{Model.Blog.Theme}/Templates/{Model.Post.Template}.cshtml";
    }
    
    var editUrl = "/post/edit";
}

<section>
    <article>@Html.Raw(Model.Post.Content)</article>
</section>

<section>
    <h2>Articles</h2>

    <component type="typeof(PostList)" 
               render-mode="ServerPrerendered"
               param-Posts="@Model.Posts"
               param-EditUrl="editUrl"
               param-ReturnUrl="@Model.ReturnUrl">
    </component>

</section>