@using Naif.Blog.Razor
@{
    if (!string.IsNullOrEmpty(Model.Post.Template))
    {
        Layout = $"~/Views/Themes/{Model.Blog.Theme}/Templates/{Model.Post.Template}.cshtml";
    }
}

<section>
    <article>@Html.Raw(Model.Post.Content)</article>
</section>

<section>
    <h2>Articles</h2>

    @(await Html.RenderComponentAsync<PostList>(RenderMode.ServerPrerendered, new { Model.Posts}))
</section>