@using Naif.Blog.Models
@using Microsoft.AspNetCore.Authorization
@using Naif.Blog.Razor

@inject IAuthorizationService AuthorizationService

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Blog

@{
    var homeUrl = (String.IsNullOrEmpty(Model.HomeRedirectUrl)) ? "/home" : Model.HomeRedirectUrl;
}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="@homeUrl">@Model.Title</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarMenu">
            @(await Html.RenderComponentAsync<Navigation>(RenderMode.ServerPrerendered, new { Blog = Model, PostId = "", CssClass = "navbar-nav"}))
        </div>
    </div>
</nav>