@using Naif.Blog.ViewModels

@model Naif.Blog.ViewModels.BlogViewModel

@{
    var pages = Model.Pages.Select(page => new SelectListItem { Value = page.PostId, Text = page.Title }).ToList();
    pages.Insert(0, new SelectListItem { Value="", Text="<-None Selected->"});

    var editPostViewModel = new EditPostViewModel()
    {
        ActionUrl = "/post/save",
        Messages = Model.Messages,
        PageIndex = Model.PageIndex,
        Post = Model.Post.ToPostViewModel(),
        Pages = pages,
        ReturnUrl = Model.ReturnUrl
    };
}

<h2>Edit Post - @Model.Post.Title</h2>
@await Html.PartialAsync("../Shared/_EditPost.cshtml", editPostViewModel);