@using Naif.Blog.Razor

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Naif.Blog.UI.ViewModels.BlogViewModel

@{
    var editUrl = $"/post/edit/{Model.Post.PostId}";
    var categoryUrl = "/category";
    var tagUrl = "/Tag";
}

<section>
    <component type="typeof(PostView)" 
               render-mode="ServerPrerendered"
               param-Post="@Model.Post"
               param-EditUrl="editUrl"
               param-CategoryUrl="categoryUrl"
               param-TagUrl = "tagUrl">
    </component>
</section>