@using Naif.Blog.Razor.Lists

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Naif.Blog.UI.ViewModels.BlogViewModel

@{
    var deleteUrl = "/post/delete";
    var editUrl = "/post/edit";
}

<section>
    <h2>Articles</h2>

    <component type="typeof(PostList)" 
               render-mode="ServerPrerendered"
               param-DeleteUrl="@deleteUrl"
               param-EditUrl="@editUrl"
               param-Posts="@Model.Posts"
               param-ReturnUrl="@Model.ReturnUrl">
    </component>
</section>
