@using Naif.Blog.Razor
@using Naif.Blog.Razor.Lists
@model Naif.Blog.UI.ViewModels.BlogViewModel

<section>
    <h2>Articles</h2>

    @(await Html.RenderComponentAsync<PostList>(RenderMode.ServerPrerendered, new { Model.Posts}))
</section>
