@using Naif.Blog.Models;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<Post>

@{
	foreach (var post in Model)
	{
		<section>
            @await Component.InvokeAsync("Excerpt", new{post = post})
		</section>
	}
}
